[submodule "aws-tcpdump-setup-20250207"]
	path = src/private/aws-tcpdump-setup-20250207
	url = ssh://pi-one.local/~/scm/notes/aws-tcpdump-setup-20250207.git
[submodule "redis7-test-20250131"]
	path = src/private/redis7-test-20250131
	url = ssh://pi-one.local/~/scm/notes/redis7-test-20250131.git
#[submodule "poodoo-NewLibEnoent-20250220"]
#	path = src/private/poodoo-NewLibEnoent-20250220
#	# TODO add pi URL: url = file:///c/work/tmp/gugg/.git
#[submodule "babelfish-Deadlock-20250226"]
#	path = src/private/babelfish-Deadlock-20250226
#	# TODO add pi URL:  url = file:///c/work/tmp/du/.git
[submodule "preflux-install-performance-20250314"]
	path = src/private/preflux-install-performance-20250314
	url = file://~/OneDrive - Post CH AG/git-remotes/notes/preflux-install-performance-20250314.git
[submodule "PrefluxTestsOnAws-20250505"]
	path = src/private/PrefluxTestsOnAws-20250505
	url = file://~/OneDrive - Post CH AG/git-remotes/notes/PrefluxTestsOnAws-20250505.git
